body {
margin: 20px;
text-align: center;
  background-color: #1d78c7;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 30px;
 background-image: url('mypic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

h1 {
  color: #0077cc;
}
p{
    color: #9f091d;
    font-size: 18px;
    line-height: 1.5;

}

a {
  color: #e42727;
  text-decoration: none;
}
a:hover{
    text-decoration: none;
}
image{
    margin: 15px;
    width: 150px;
    height: auto;
}

button {
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
    background-color: #14e174;
}